.wrapper {
	max-width: 1583px;
	margin: 0px auto;
}

.header {
	width: 100%;
	height: 610px;
}

.header .header-top {
	height: 10px;
	background-color: #2ecc71;
}

.header .header-main {
	height: 600px;
	background-image: url("../images/header.gif");
}

.header .header-main .col-sm-6 {
	padding-left: 60px;
    padding-top: 160px;
}

.header .header-main .notify {
	padding-bottom: 40px;
}

.header .header-main .notify span {
	font-family: FontPacifico;
	font-size: 3.75em;
	color: white;
}

.header .header-main .notify .color {
	color: #2ecc71;
}

.header .header-main p {
	font-family: FontHelvetica;
	font-size: 1.5em;
	color: white;
	line-height: 1.5;
	width: 70%;
}

.header .header-main .icons {
	padding-top: 20px;
}

.header .header-main .icons .fa {
	color: #b09d93;
	font-size: 2em;
	margin: -3px;
}

.header .header-main .icons .fa-windows {
	color: #f4f4f4;
}

.header .header-main .icons .circle {
	width: 8%;
	background: #38241b;
	text-align: center;
	padding: 15px;
	border-radius: 50px;
	float: left;
	margin-right: 15px;
}

.header .header-main .icons .color {
	background: #2ecc71;
}

/*End Header*/
.content {
	width: 100%;
}

.content .content-top {
	width: 80%;
	height: 335px;
	margin: 0px auto;
	background-color: #ffffff;
	padding-top: 50px;
}

.content .content-top .col-sm-4 .circle {
	width: 26%;
	background: #2ecc71;
	text-align: center;
	padding: 15px;
	border-radius: 100px;
	margin: 0px auto;
}

.content .content-top .col-sm-4 .circle .fa {
	color: #ffffff;
    font-size: 50px;
    margin: 10px;
}

.content .content-top .col-sm-4 .center {
	text-align: center;
	width: 90%;
	margin: 0px auto;
	padding-top: 30px;
}

.content .content-top .col-sm-4 .center span {
	font-family: FontRalewaySemiBold;
	font-size: 22px;
}

.content .content-top .col-sm-4 .center p {
	font-family: FontHelveticaNeue;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 20px;
}

/*End Content Top*/

.content .content-main {
	height: 430px;
	background-color: #e3e3e3;
	padding-top: 60px;
}

.content .content-main .main-top {
	width: 80%;
	margin: 0px auto;
}

.content .content-main .main-top .col-sm-6 span {
	font-family: FontRalewaySemiBold;
	font-size: 22px;
}

.content .content-main .main-top .col-sm-6 p {
	font-family: FontHelveticaNeue;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 25px;
}

.content .content-main .main-top .col-sm-6 .input-group {
	padding-top: 30px;
}

.content .content-main .main-top .col-sm-6 .input-group input {
	height: 60px;
	padding-left: 25px;
	font-family: FontHelveticaNeue;
	font-size: 18px;
	color: #848484;
	border-radius: 15px 0px 0px 15px;
}

.content .content-main .main-top .col-sm-6 .input-group .input-group-addon {
	height: 60px;
	width: 35%;
	text-align: center;
	background-color: #2ecc71;
	font-family: FontRalewayBold;
	font-size: 22px;
	color: #ffffff;
	border-radius: 0px 15px 15px 0px;
}

.content .content-main .main-top .col-sm-6 iframe {
	border-radius: 10px;
}

/*End Content Main*/

.content .content-bottom {
	width: 80%;
	height: 470px;
	margin: 0px auto;
	background-color: #ffffff;
}

.content .content-bottom .bottom-1 p {
	padding-top: 60px;
	font-family: FontHelveticaNeue;
	font-size: 18px;
	font-style: italic;
	margin: 0px auto;
	width: 70%;
	line-height: 1.5;
}

.content .content-bottom .bottom-1 footer {
	text-align: center;
	font-family: FontRalewayBold;
	font-size: 18px;
	padding-top: 25px;
}

.slide {
	margin: 0px auto;
	width: 85%;
	padding-top: 30px;
}

.slide img {
	width: 50px;
	height: 50px;
	float: left;
	padding-right: 5px;
}

.slide img:hover {
	background: #2ecc71;
}

.content .content-bottom .bottom-2 footer {
	padding-top: 90px;
	font-family: FontRalewaySemiBold;
	font-size: 1.5em;
	text-align: center;
}

.content .content-bottom .bottom-2 p {
	text-align: center;
	font-family: FontHelveticaNeue;
	font-size: 16px;
}

.content-bottom .icons {
	margin-left: 435px;
	margin-top: 25px;
}

.content-bottom .icons .circle {
	width: 7%;
	background: #d4d4d4;
	text-align: center;
	padding: 15px 12px 17px 5px;
	border-radius: 100px;
	margin-right: 10px;
	float: left;
	padding-right: 5px;
}

.icons .circle .fa {
	font-size: 24px;
	color: #ffffff;
}

/*End Content Bottom*/

.footer {
	height: 130px;
	background-color: #e3e3e3;
}

.footer ul {
	margin-left: 480px;
}

.footer ul li {
	float: left;
	list-style: none;
	padding-top: 60px;
}

.footer ul li a {
	font-family: FontHelveticaNeue;
	font-size: 16px;
	padding-right: 35px;
	color: #848484;
}